:root {
  --color-primary: #D21F3C;
  --color-primary-hover:  #f32346;
  --color-primary-selected: #ac1d35;
  
  --color-secondary: #2c62d6;
  --color-secondary-hover: #3573f8;
  --color-secondary-selected: #224ba5;

  --color-light: #ffffff;
  --color-dark: #000000;
  --color-bg: #ebebeb;
}